
<ion-list color="dark">
  <ion-item-sliding *ngFor="let list of todosService.list">
                      class="animated fadeInDown">
  <ion-item color="dark"
            (click)="selectedList( list )">
    <ion-label>
      {{ list.title }}
    </ion-label>
    <ion-note slot="end" color="tertiary">{{ list.items.length }} items</ion-note>
  </ion-item>
  <ion-item-options side="end">
    <ion-item-option (click)="deleteList( list )"
                     color="danger">
      <ion-icon name="close" slot="=icon-only"></ion-icon>
    </ion-item-option>
  </ion-item-options>
  </ion-item-sliding>
</ion-list>