<ion-header color="dark" class="ion-no-border">
  <ion-toolbar color="dark">

    <ion-buttons>
      <ion-back-button color="tertiary" defaultHref="/">
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{ list.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-list color="dark">
    <ion-item color="dark">
      <ion-label position="floating">New Item</ion-label>
      <ion-input type="text" 
                 [(ngModel)]="itemName"
                 (keyup.enter)="addItem()"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header color="dark">
      <ion-label>tasks to do</ion-label>
    </ion-list-header>
    <ion-item color="dark"
              *ngFor="let item of list.items">
      <ion-checkbox color="danger"
                    slot="start"
                    [(ngModel)]="item.complete"></ion-checkbox>
      <ion-label>{{ item.desc }}</ion-label> 
    </ion-item>
  </ion-list>
</ion-content>
