<ion-header color="dark" class="ion-no-border">
  <ion-toolbar color="dark">

    <ion-buttons>
      <ion-back-button color="tertiary" defaultHref="/">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Name of new list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-list color="dark">
    <ion-item color="dark">
      <ion-label position="floating">New Item</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header color="dark">
      <ion-label>tasks to do</ion-label>
    </ion-list-header>
    <ion-item color="dark">
      <ion-checkbox color="danger" slot="start"></ion-checkbox>
      <ion-label>task of the day</ion-label> 
    </ion-item>
  </ion-list>
</ion-content>
